.AdminReports {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 25% 75%;
}

.AdminReports_Sidebar {
    padding: 20px;
    background-color: #CCCCCC;
    overflow: auto;
}

.AdminReports_Content {
    padding: 20px;
    background-color: #F2F2F2;
    overflow: auto;
}