.ListElement {
    border-top: 1px solid #1A1A1A;
    border-bottom: 1px solid #1A1A1A;
    cursor: pointer;
}

.ListElementActive {
    padding: 10px;
    background-color: #EDEDED;
}

.ListElementInactive {
    padding: 10px;
    background-color: #FFFFFF;
}